---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main class="font-merienda md:(flex)">
      <div id="left" class="text-xl lg:w-1/2">
        <h1 class="mt-16 text-6xl font-black">Hello.</h1>
        <p class="my-4">My name is <em class="font-bold">Luz Liu</em> and my github alias is <em class="font-bold">Liting</em></p>
        <p class="my-4">I'm from China and I'm currently working at zoom as a R&D engineer.(Hefei, Anhui, China)</p>
        <p class="my-4">I am currently learning and using :</p>
        <ul class="grid grid-cols-8 list-none gap-y-1 pl-0 md:grid-cols-12 xl:grid-cols-16">
          <li class="u-center">
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank"><i class="i-logos:html-5"></i></a>
          </li>
          <li class="u-center">
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank"><i class="i-logos:css-3"></i></a>
          </li>
          <li class="u-center">
            <a href="https://unocss.dev" target="_blank"><i class="i-logos:unocss"></i></a>
          </li>
          <li class="u-center">
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><i class="i-logos:javascript"></i></a>
          </li>
          <li class="u-center">
            <a href="https://www.typescriptlang.org" target="_blank"><i class="i-logos:typescript-icon"></i></a>
          </li>
          <li class="u-center">
            <a href="https://nodejs.org/en" target="_blank"><i class="i-logos:nodejs-icon-alt"></i></a>
          </li>
          <li class="u-center">
            <a href="https://vuejs.org" target="_blank"><i class="i-logos:vue"></i></a>
          </li>
          <li class="u-center">
            <a href="https://nuxt.com" target="_blank"><i class="i-logos:nuxt-icon"></i></a>
          </li>
          <li class="u-center">
            <a href="https://vitejs.dev" target="_blank"><i class="i-logos:vitejs"></i></a>
          </li>
          <li class="u-center">
            <a href="https://rollupjs.org" target="_blank"><i class="i-logos:rollupjs"></i></a>
          </li>
          <li class="u-center">
            <a href="https://react.dev" target="_blank"><i class="i-logos:react"></i></a>
          </li>
          <li class="u-center">
            <a href="https://nextjs.org" target="_blank"><i class="i-logos:nextjs-icon"></i></a>
          </li>
          <li class="u-center">
            <a href="https://pnpm.io" target="_blank"><i class="i-logos:pnpm"></i></a>
          </li>
          <li class="u-center">
            <a href="https://www.rust-lang.org" target="_blank"><i class="i-logos:rust"></i></a>
          </li>
          <li class="u-center">
            <a href="https://code.visualstudio.com" target="_blank"><i class="i-logos:visual-studio-code"></i></a>
          </li>
          <li class="u-center">
            <a href="https://arc.net" target="_blank"><i class="i-logos:arc"></i></a>
          </li>
        </ul>
      </div>
      <div id="right" class="lg:w-1/2"></div>
    </main>
    <script src="../utils/star.ts"></script>
    <style>
      main {
        width: 100vw;
        height: 100vh;
      }

      #left {
        padding: 5vh 10vw;

        @media (min-width: 768px) {
          padding-right: 24px;
        }
      }

      #right {
        padding: 5vh 10vw;

        @media (min-width: 768px) {
          padding-left: 24px;
        }
      }
    </style>
  </body>
</html>
